<div id="addItemDialog" class="dialog">
  <form method="post">
    <div class="dialog-field">
      <label for="itemTitle">Title</label>
      <input id="itemTitle" type="text" name="title" required>
    </div>
    <div class="dialog-field">
      <label for="itemUrl">URL</label>
      <input id="itemUrl" type="text" name="url" required>
    </div>
    <div class="dialog-field">
      <label for="itemIcon">Icon</label>
      <input id="itemIcon" type="text" name="icon" required>
    </div>
  </form>
</div>
