<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-content">
    <div id="addItemDialog" class="dialog">
      <form hx-put="/item/{{ . }}" hx-target="#list_{{ . }} div.items" hx-swap="beforeend" _="on submit trigger closeModal">
        <input type="hidden" name="confirm" value="true">
        <div class="dialog-field">
          <label for="itemTitle">Title</label>
          <input id="itemTitle" type="text" name="title" required>
        </div>
        <div class="dialog-field">
          <label for="itemUrl">URL</label>
          <input id="itemUrl" type="text" name="url" required>
        </div>
        <div class="dialog-field">
          <label for="itemIcon">Icon</label>
          <input id="itemIcon" type="text" name="icon" required>
        </div>
        <div class="dialog-buttons">
          <button type="submit">Add</button>
          <button type="button" _="on click trigger closeModal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
