<div id="addListDialog" class="dialog">
  <form method="post">
    <div class="dialog-field">
      <label for="listTitle">Title</label>
      <input id="listTitle" type="text" name="title" required>
    </div>
    <div class="dialog-field">
      <label for="listRows">Number of Rows</label>
      <input id="listRows" type="number" min="1" name="number_of_rows" required>
    </div>
  </form>
</div>
