<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-content">
    <form action="/config" method="post" enctype="multipart/form-data">
      <div class="dialog-column">
        <fieldset>
          <legend>Header</legend>
          <div class="dialog-field">
            <label for="configIcon">Icon</label>
            <input id="configIcon" type="text" name="icon" value="{{ .config.Icon }}">
          </div>
          <div class="dialog-field">
            <label for="configTitle">Title</label>
            <input id="configTitle" type="text" name="title" value="{{ .config.Title }}">
          </div>
        </fieldset>
        <fieldset>
          <legend>Background</legend>
          <div class="dialog-field">
            <input id="configBackgroundTypeUpload" type="radio" name="background_type" value="upload">
            <input id="configBackgroundUpload" type="file" style="width:85%; display:inline-block;" name="background_file" _="on change add @checked to #configBackgroundTypeUpload">
          </div>
          <div class="dialog-field">
            <input id="configBackgroundTypeKeep" type="radio" name="background_type" value="keep" checked>
            <select id="configBackgroundImage" style="width:85%; display:inline-block;" name="background_image" _="on change add @checked to #configBackgroundTypeKeep">
            {{ $Background_image := .config.Background_image }}
            {{ range .backgrounds }}
              <option value="{{ . }}"{{ if eq . $Background_image }} selected="selected"{{ end }}>{{ . }}</option>
            {{ end }}
            </select>
          </div>
          <div class="dialog-field">
            <input id="configBackgroundTypeNone" type="radio" name="background_type" value="none" {{ if not .config.Background_image }}checked{{ end }}>
            <label for="configBackgroundTypeNone" style="display:inline-block;">None</label>
          </div>
        </fieldset>
      </div>
      <div class="dialog-column">
        <fieldset>
          <legend>Colors</legend>
          <div class="dialog-field">
            <input type="radio" id="autodetect_colors" name="color_type"  value="autodetect">
            <label for="autodetect_colors" style="display:inline-block;">Autodetect Colors from Background</label>
          </div>
          <div class="dialog-field">
            <input type="radio" id="catppuccin_latte_colors" name="color_type" value="catppuccin_latte">
            <label for="catppuccin_latte_colors" style="display:inline-block;">Catppuccin Latte</label>
          </div>
          <div class="dialog-field">
            <input type="radio" id="catppuccin_mocha_colors" name="color_type" value="catppuccin_mocha">
            <label for="catppuccin_mocha_colors" style="display:inline-block;">Catppuccin Mocha</label>
          </div>
          <div class="dialog-field">
            <input type="radio" id="manual_colors" name="color_type"  value="manual" checked>
            <label for="manual_colors" style="display:inline-block;">Manual Colors</label>
          </div>
          <div class="dialog-field">
            <label for="configColorBackground">Background</label>
            <input id="configColorBackground" type="color" name="color_background" value="{{ .config.Color_background }}" required>
          </div>
          <div class="dialog-field">
            <label for="configColorForeground">Foreground</label>
            <input id="configColorForeground" type="color" name="color_foreground" value="{{ .config.Color_foreground }}" required>
          </div>
          <div class="dialog-field">
            <label for="configColorItems">Items</label>
            <input id="configColorItems" type="color" name="color_items" value="{{ .config.Color_items }}" required>
          </div>
          <div class="dialog-field">
            <label for="configColorBorders">Borders</label>
            <input id="configColorBorders" type="color" name="color_borders" value="{{ .config.Color_borders }}" required>
          </div>
        </fieldset>
      </div>
      <div class="dialog-column">
        <fieldset>
          <legend>System Info</legend>
          <div class="dialog-field">
            <label for="configCpuTempSensor">CPU Temp Sensor</label>
            <select id="configCpuTempSensor" name="cpu_temp_sensor">
              <option value="">Don't show</option>
              {{ $Cpu_temp_sensor := .config.Cpu_temp_sensor }}
              {{ range .sensors }}
              <optgroup label="{{ .Name }}">
                {{ range .Sensors }}
                  {{ $SensorName := .Name }}
                  {{ range .Readings }}
                  <option value="{{ $SensorName }}"{{ if eq $SensorName $Cpu_temp_sensor }} selected="selected"{{ end }}>{{ $SensorName }} ({{ .Name }}): {{ .Value }}</option>
                  {{ end }}
                {{ end }}
              </optgroup>
              {{ end }}
            </select>
          </div>
          <div class="dialog-field">
            <input id="configShowFreeRam" type="checkbox" name="show_free_ram" value="1" {{ if .config.Show_free_ram }}checked{{ end }}>
            <label for="configShowFreeRam" style="display:inline-block">Show Free RAM</label>
          </div>
          <div class="dialog-field">
            <input id="configShowFreeSwap" type="checkbox" name="show_free_swap" value="1" {{ if .config.Show_free_swap }}checked{{ end }}>
            <label for="configShowFreeSwap" style="display:inline-block">Show Free Swap</label>
          </div>
          <div class="dialog-field">
            <input id="configShowPublicIp" type="checkbox" name="show_public_ip" value="1" {{ if .config.Show_public_ip }}checked{{ end }}>
            <label for="configShowPublicIp" style="display:inline-block">Show Public IP</label>
          </div>
          <div class="dialog-field">
            <input id="configShowFreeSpace" type="checkbox" name="show_free_space" value="1" {{ if .config.Show_free_space }}checked{{ end }}>
            <label for="configShowFreeSpace" style="display:inline-block">Show Free Space</label>
          </div>
        </fieldset>
      </div>
      <div class="dialog-buttons">
        <button type="submit">Save</button>
        <button type="button" _="on click trigger closeModal">Cancel</button>
      </div>
    </form>
  </div>
</div>
