<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-content">
    <form id="deleteItemDialog" hx-delete="/item/{{ . }}" hx-swap="outerHTML" _="on submit remove #item_{{ . }} then trigger closeModal">
      <div class="dialog-field">
        <label>Are you sure you want to delete this item?</label>
        <input type="hidden" name="confirm" value="true">
      </div>
      <div class="dialog-buttons">
        <button type="submit">Yes</button>
        <button type="button" hx-get="/item/{{ . }}" hx-target="#modal" hx-swap="outerHTML">No</button>
      </div>
    </form>
  </div>
</div>
