<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-content">
    <form id="editItemForm" hx-patch="/item/{{ .Id }}" hx-target="#item_{{ .Id }}" hx-swap="outerHTML" _="on submit trigger closeModal">
      <div class="dialog-field">
        <label for="itemTitle">Title</label>
        <input id="itemTitle" type="text" name="title" value="{{ .Title }}" required>
      </div>
      <div class="dialog-field">
        <label for="itemUrl">URL</label>
        <input id="itemUrl" type="text" name="url" value="{{ .Url }}" required>
      </div>
      <div class="dialog-field">
        <label for="itemSkipCertificateVerification">Skip certificate verification</label>
        <input id="itemSkipCertificateVerification" style="width:auto;" type="checkbox" name="skip_certificate_verification" value="1" {{ if eq .Skip_certificate_verification 1 }}checked{{ end }}>
      </div>
      <div class="dialog-field">
        <label for="itemIcon">Icon</label>
        <input id="itemIcon" type="text" name="icon" value="{{ .Icon }}" required>
      </div>
      <div class="dialog-buttons">
        <button type="button" hx-delete="/item/{{ .Id }}" hx-target="#modal" hx-swap="outerHTML">Delete</button>
        <button type="submit">Save</button>
        <button type="button" _="on click trigger closeModal">Cancel</button>
      </div>
    </form>
  </div>
</div>
