<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ or .config.Title "Flimsy" }}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">
  <link rel="icon" type="image/png" href="/static/homepage.png">
  <script
			  src="https://code.jquery.com/jquery-3.7.1.min.js"
			  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			  crossorigin="anonymous"></script>
  <script
			  src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"
			  integrity="sha256-AlTido85uXPlSyyaZNsjJXeCs07eSv3r43kyCVc8ChI="
			  crossorigin="anonymous"></script>
  <script src="/static/htmx.min.js"></script>
</head>

<body>
  <header>
    <div>
      {{ if .config.Icon }}<img id="icon" src="/data/icons/{{ .config.Icon }}">{{ end }}
      {{ if .config.Title }}<h1 id="title">{{ .config.Title }}</h1>{{ end }}
    </div>
    <div>
      {{ if .IsLoggedIn }}
        <button id="configButton">⚙️</button>
        <a id="logout" href="logout">Logout</a>
      {{ else }}
        <a id="login" href="#">Login</a>
      {{ end }}
      <div id="system-info" hx-get="/systemInfo" hx-trigger="load"></div>
      {{ if .FLIMSY_WEATHER_API_KEY }}
        <div class="weather">
          <img>
          <div class="location"></div>
          <div class="temp"></div>
          <div class="description"></div>
        </div>
      {{ end }}
    </div>
  </header>

  <div id="lists" style="clear:both;">
  {{ range .listsAndItems }}
    {{ template "list.tmpl" . }}
  {{ end }}
  </div>

  {{ if .IsLoggedIn }}
    <button id="addList">➕ Add List</button>
  {{ end }}

  <div id="configDialog" class="dialog">
    <form action="config" method="post" enctype="multipart/form-data">
      <div class="dialog-column">
        <fieldset>
          <legend>Header</legend>
          <div class="dialog-field">
            <label for="configIcon">Icon</label>
            <input id="configIcon" type="text" name="icon" value="{{ .config.Icon }}">
          </div>
          <div class="dialog-field">
            <label for="configTitle">Title</label>
            <input id="configTitle" type="text" name="title" value="{{ .config.Title }}">
          </div>
        </fieldset>
        <fieldset>
          <legend>Background</legend>
          <div class="dialog-field">
            <input id="configBackgroundTypeUpload" type="radio" style="width:auto;" name="background_type" value="upload">
            <input id="configBackgroundUpload" type="file" style="width:85%; display:inline-block;" name="background_file">
          </div>
          <div class="dialog-field">
            <input id="configBackgroundTypeKeep" type="radio" style="width:auto;" name="background_type" value="keep" checked>
            <select id="configBackgroundImage" style="width:85%; display:inline-block;" name="background_image">
            {{ $Background_image := .config.Background_image }}
            {{ range .backgrounds }}
              <option value="{{ . }}"{{ if eq . $Background_image }} selected="selected"{{ end }}>{{ . }}</option>
            {{ end }}
            </select>
          </div>
          <div class="dialog-field">
            <input id="configBackgroundTypeNone" type="radio" style="width:auto;" name="background_type" value="none">
            <label for="configBackgroundTypeNone" style="display:inline-block;">None</label>
          </div>
        </fieldset>
      </div>
      <div class="dialog-column">
        <fieldset>
          <legend>Colors</legend>
          <div class="dialog-field">
            <input type="radio" id="autodetect_colors" name="color_type" style="width:auto;" value="autodetect">
            <label for="autodetect_colors" style="display:inline-block;">Autodetect Colors</label>
          </div>
          <div class="dialog-field">
            <input type="radio" id="catppuccin_latte_colors" name="color_type" style="width:auto;" value="catppuccin_latte">
            <label for="catppuccin_latte_colors" style="display:inline-block;">Catppuccin Latte</label>
          </div>
          <div class="dialog-field">
            <input type="radio" id="catppuccin_mocha_colors" name="color_type" style="width:auto;" value="catppuccin_mocha">
            <label for="catppuccin_mocha_colors" style="display:inline-block;">Catppuccin Mocha</label>
          </div>
          <div class="dialog-field">
            <input type="radio" id="manual_colors" name="color_type" style="width:auto;" value="manual" checked>
            <label for="manual_colors" style="display:inline-block;">Manual Colors</label>
          </div>
          <div class="dialog-field">
            <label for="configColorBackground">Background</label>
            <input id="configColorBackground" type="color" name="color_background" value="{{ .config.Color_background }}" required>
          </div>
          <div class="dialog-field">
            <label for="configColorForeground">Foreground</label>
            <input id="configColorForeground" type="color" name="color_foreground" value="{{ .config.Color_foreground }}" required>
          </div>
          <div class="dialog-field">
            <label for="configColorItems">Items</label>
            <input id="configColorItems" type="color" name="color_items" value="{{ .config.Color_items }}" required>
          </div>
          <div class="dialog-field">
            <label for="configColorBorders">Borders</label>
            <input id="configColorBorders" type="color" name="color_borders" value="{{ .config.Color_borders }}" required>
          </div>
        </fieldset>
      </div>
      <div class="dialog-column">
        <fieldset>
          <legend>System Info</legend>
          <div class="dialog-field">
            <label for="configCpuTempSensor">CPU Temp Sensor</label>
            <select id="configCpuTempSensor" name="cpu_temp_sensor">
              <option value="">Don't show</option>
              {{ $Cpu_temp_sensor := .config.Cpu_temp_sensor }}
              {{ range .sensors }}
              <optgroup label="{{ .Name }}">
                {{ range .Sensors }}
                  {{ $SensorName := .Name }}
                  {{ range .Readings }}
                  <option value="{{ $SensorName }}"{{ if eq $SensorName $Cpu_temp_sensor }} selected="selected"{{ end }}>{{ $SensorName }} ({{ .Name }}): {{ .Value }}</option>
                  {{ end }}
                {{ end }}
              </optgroup>
              {{ end }}
            </select>
          </div>
          <div class="dialog-field">
            <input id="configShowFreeRam" type="checkbox" style="width:auto;" name="show_free_ram" value="1" {{ if .config.Show_free_ram }}checked{{ end }}>
            <label for="configShowFreeRam" style="display:inline-block">Show Free RAM</label>
          </div>
          <div class="dialog-field">
            <input id="configShowFreeSwap" type="checkbox" style="width:auto;" name="show_free_swap" value="1" {{ if .config.Show_free_swap }}checked{{ end }}>
            <label for="configShowFreeSwap" style="display:inline-block">Show Free Swap</label>
          </div>
          <div class="dialog-field">
            <input id="configShowPublicIp" type="checkbox" style="width:auto;" name="show_public_ip" value="1" {{ if .config.Show_public_ip }}checked{{ end }}>
            <label for="configShowPublicIp" style="display:inline-block">Show Public IP</label>
          </div>
          <div class="dialog-field">
            <input id="configShowFreeSpace" type="checkbox" style="width:auto;" name="show_free_space" value="1" {{ if .config.Show_free_space }}checked{{ end }}>
            <label for="configShowFreeSpace" style="display:inline-block">Show Free Space</label>
          </div>
        </fieldset>
      </div>
    </form>
  </div>

  <div id="loginDialog" class="dialog">
    <form action="login" method="post">
      <div class="dialog-field">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" required>
      </div>
      <div class="dialog-field">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required>
      </div>
    </form>
  </div>

  <div id="editListDialog" class="dialog">
    <form method="post">
      <div class="dialog-field">
        <label for="listTitle">Title</label>
        <input id="listTitle" type="text" name="title" required>
      </div>
      <div class="dialog-field">
        <label for="listRows">Number of Rows</label>
        <input id="listRows" type="number" min="1" name="number_of_rows" required>
      </div>
    </form>
  </div>

  <div id="editItemDialog" class="dialog">
    <form method="post">
      <div class="dialog-field">
        <label for="itemTitle">Title</label>
        <input id="itemTitle" type="text" name="title" required>
      </div>
      <div class="dialog-field">
        <label for="itemHref">URL</label>
        <input id="itemHref" type="text" name="href" required>
      </div>
      <div class="dialog-field">
        <label for="itemIcon">Icon</label>
        <input id="itemIcon" type="text" name="icon" required>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    function deleteList() {
      if (!confirm("Are you sure that you want to delete this list and all its items?")) return;
      
      const id = $('#editListDialog form').attr('action').replace('lists/edit.php?id=', '');
      $.ajax({
        url: 'lists/delete.php?id=' + id,
        success: () => {
          $('#list_' + id).remove();
          $('#editListDialog').dialog('close');
        }
      });
    }
    function deleteItem() {
      if (!confirm("Are you sure that you want to delete this item?")) return;
      
      const id = $('#editItemDialog form').attr('action').replace('items/edit.php?itemId=', '');
      $.ajax({
        url: 'items/delete.php?itemId=' + id,
        success: () => {
          $('#item_' + id).remove();
          $('#editItemDialog').dialog('close');
        }
      });
    }

    {{ if .FLIMSY_WEATHER_API_KEY }}
    function updateWeather() {
      $.ajax({
        url: 'https://api.openweathermap.org/data/2.5/weather',
        data: {
          q: '{{ .FLIMSY_WEATHER_LOCATION }}',
          units : '{{ .FLIMSY_WEATHER_UNITS }}',
          lang : '{{ .FLIMSY_WEATHER_LANGUAGE }}',
          appid : '{{ .FLIMSY_WEATHER_API_KEY }}',
        },
        success: (data) => {
          var units;
          switch ('{{ .FLIMSY_WEATHER_UNITS }}') {
            default:
            case 'standard': units = 'K'; break;
            case 'metric': units = 'C'; break;
            case 'imperial': units = 'F'; break;
          };
          $('.weather img').attr('src', 'https://openweathermap.org/img/wn/' + data.weather[0].icon + '@2x.png');
          $('.weather .location').html(data.name + ', ' + data.sys.country);
          $('.weather .description').html(data.weather[0].description);
          $('.weather .temp').html(Math.round(data.main.temp) + ' °' + units);
        }
      });
    }
    {{ end }}

    $('document').ready(() => {
      {{ if .session_message }}
        alert("{{ .session_message }}");
      {{ end }}

      $('#loginDialog').dialog({
        title: 'Login',
        autoOpen: false,
        modal: true,
        buttons: {
          "Login": () => {
            if ($('#loginDialog :invalid').length > 0) {
              return;
            }
            $.ajax({
              url: 'login',
              method: 'post',
              data: $('#loginDialog form').serialize(),
              success: (data) => {
                if (data.error) {
                  alert(data.error);
                  return;
                }
                location.reload();
              }
            });
          },
          "Cancel": () => {
             $('#loginDialog').dialog('close');
          },
        }
      });
      $('#login').click(() => {
        {{ if .IsAuthDisabled }}
          window.location = 'login';
        {{ else }}
          $('#loginDialog').dialog('open');
        {{ end }}
      });

      $('div.item').click((e) => {

        // Click on an item to edit it 
        {{ if .IsLoggedIn }}
          if (e.target.id.startsWith('addItem_')) return;

          const itemId = e.currentTarget.id.replace('item_', '');
          $.ajax({
            url: 'items/get.php?id=' + itemId,
            success: (item) => {
              $('#itemTitle').val(item.title);
              $('#itemHref').val(item.href);
              $('#itemIcon').val(item.icon);

              var buttons = $('#editItemDialog').dialog('option', 'buttons');
              if (!buttons.hasOwnProperty('Delete')) {
                buttons = { 'Delete': deleteItem, ...buttons };
              }
              $('#editItemDialog').dialog('option', 'buttons', buttons);
              $('#editItemDialog').dialog('option', 'title', 'Edit Item');
              $('#editItemDialog form').attr('action', 'items/edit.php?itemId=' + item.id);
              $('#editItemDialog').dialog('open');
            }
          });

        // Click on an item to visit it's url
        {{ else }}
          const href = $('#' + e.currentTarget.id + ' div.details div.href').text();
          window.open(href);
        {{ end }}
      });

      {{ if .IsLoggedIn }}
        $('#configButton').click(() => {
          $('#configDialog').dialog('open');
        });

        $('#configDialog').dialog({
          title: 'Config',
          autoOpen: false,
          modal: true,
          width: 1010,
          buttons: {
            "Save": () => {
              if ($('#configDialog :invalid').length > 0) {
                return;
              }
              $.ajax({
                url: 'config',
                method: 'post',
                data: $('#configDialog form').serialize(),
                success: (data) => {
                  if (data.success) {
                    location.reload();
                  }
                  else {
                    alert(data.error);
                  }
                },
                error: (xhr, status, error) => {
                  alert(error);
                }
              });
            },
            "Cancel": () => {
              $('#configDialog').dialog('close');
            },
          }
        });
        $('#configBackgroundUpload').change(() => {
          $('#autodetect_colors').removeAttr('disabled');
          $('#configBackgroundTypeUpload').prop('checked', true);
        });
        $('#configBackgroundImage').change((e) => {
          if (e.target.value != '') { 
            $('#autodetect_colors').removeAttr('disabled');
            $('#configBackgroundTypeKeep').prop('checked', true);
          }
          else {
            $('#autodetect_colors').attr('disabled', 'disabled');
            $('#manual_colors').prop('checked', true);
          }
        });
        $('#autodetect_colors').change(() => {
          if ($('#autodetect_colors').is(':checked')) {
            $('#configDialog input[type=color]').attr('disabled', 'disabled');
          }
        });
        $('#manual_colors').change(() => {
          if ($('#manual_colors').is(':checked')) {
            $('#configDialog input[type=color]').removeAttr('disabled');
          }
        });

        $('div.list h2').click((e) => {
          const id = e.currentTarget.parentNode.id.replace('list_', '');
          $('#listTitle').val(data.find(l => l.id == id).title);
          $('#listRows').val(data.find(l => l.id == id).number_of_rows);

          var buttons = $('#editListDialog').dialog('option', 'buttons');
          if (buttons.hasOwnProperty('Delete') == false) {
            buttons = { 'Delete': deleteList, ...buttons };
          }
          $('#editListDialog').dialog('option', 'buttons', buttons);
          $('#editListDialog').dialog('option', 'title', 'Edit List');
          $('#editListDialog form').attr('action', 'lists/edit.php?id=' + id);
          $('#editListDialog').dialog('open');
        })

        $('div.addItem button').click((e) => {
          const listId = e.target.id.replace('addItem_', '');
          $('#itemTitle').val('');
          $('#itemHref').val('');
          $('#itemIcon').val('');

          var buttons = $('#editItemDialog').dialog('option', 'buttons');
          if (buttons.hasOwnProperty('Delete')) {
            delete buttons.Delete;
          }
          $('#editItemDialog').dialog('option', 'buttons', buttons);
          $('#editItemDialog').dialog('option', 'title', 'Add New Item');
          $('#editItemDialog form').attr('action', 'items/add.php?listId=' + listId);
          $('#editItemDialog').dialog('open');
        });

          $('#lists').sortable({
            helper : 'clone',
            stop: function(event, ui) {
              const listIds = $(ui.item).parent().children("div.list").map((l, el) => el.id.replace('list_', '')).toArray();
              $.ajax({
                url: 'lists/reorder.php',
                method: 'POST',
                data: {
                  listIds: listIds
                }
              });
            } 
          })
          $("div.list").sortable({
            helper: 'clone',
            items: "div.item",
            connectWith: ".list",
            stop: function(event, ui) {
              const listId = $(ui.item).parent().parent().attr('id').replace('list_', '');
              const itemIds = $(ui.item).parent().children("div.item").map((i, el) => el.id.replace('item_', '')).toArray();

              // Move the addItem button to the end of the list, in case the item was dropped after it
              $('#addItem_' + listId).parent().appendTo($('#addItem_' + listId).parent().parent());

              $.ajax({
                url: 'items/reorder.php',
                method: 'POST',
                data: {
                  listId: listId,
                  itemIds: itemIds
                }
              });
            }
        });
        $('button').css('display', 'inline-block');

        $('#addList').click(() => {
          $('#listTitle').val('');

          var buttons = $('#editListDialog').dialog('option', 'buttons');
          if (buttons.hasOwnProperty('Delete')) {
            delete buttons.Delete;
          }
          $('#editListDialog').dialog('option', 'buttons', buttons);
          $('#editListDialog').dialog('option', 'title', 'Add New List');
          $('#editListDialog form').attr('action', 'lists/add.php');
          $('#editListDialog').dialog('open');
        });

        $('#editListDialog').dialog({
          autoOpen: false,
          modal: true,
          buttons: {
            "Save": () => {
              if ($('#editListDialog :invalid').length > 0) {
                return;
              }
              $('#editListDialog form').submit();
            },
            "Cancel": () => {
              $('#editListDialog').dialog('close');
            },
          }
        });

        $('#editItemDialog').dialog({
          autoOpen: false,
          modal: true,
          buttons: {
            "Save": () => {
              if ($('#editItemDialog :invalid').length > 0) {
                return;
              }
              $('#editItemDialog form').submit();
            },
            "Cancel": () => {
              $('#editItemDialog').dialog('close');
            },
          }
        });
      {{ end }}

      {{ if .FLIMSY_WEATHER_API_KEY }}updateWeather();{{ end }} 
    });
  </script>

</body>
</html>
