<div class="item" id="item_{{ .Id }}">
  <div class="iconDiv">
    <img class="icon" src="/data/icons/{{ .Icon }}" />
  </div>
  <div class="details">
    <i class="status nf nf-oct-dot_fill"></i>
    <div class="title">{{ .Title }}</div>
    <div class="href">{{ .Href }}</div>
  </div>
</div>
