<div class="list" id="list_{{ .List.Id }}">
  <h2>{{ .List.Title }}</h2>
  <div class="items" style="grid-template-columns: repeat({{ .List.Number_of_cols }}, 1fr);">
    {{ range .Items }}
      {{ template "item.tmpl" . }} 
    {{ end }}
  </div>
</div>
