<div id="loginDialog" class="dialog">
  <form action="login" method="post">
    <div class="dialog-field">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" required>
    </div>
    <div class="dialog-field">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" required>
    </div>
  </form>
</div>
