{{ if .Cpu_temp }}
  <div>
    <i class="nf nf-oct-cpu"></i>
    <span id="cpu-temp">{{ if .Cpu_temp_ends_with_c }}{{ .Cpu_temp }}{{ else }}{{ .Cpu_temp }} °C{{ end }}</span>
  </div>
{{ end }}
{{ if .Free_memory }}
  <div><i class="nf nf-fa-memory"></i><span id="free-memory">{{ .Free_memory }}</span> free</div>
{{ end }}
{{ if .Free_swap }}
  <div><i class="nf nf-md-file_swap"></i><span id="free-swap">{{ .Free_swap }}</span> free</div>
{{ end }}
{{ if .Public_ip }}
  <div><i class="nf nf-md-ethernet"></i><span id="public-ip">{{ .Public_ip }}</span></div>
{{ end }}
{{ if .Storage }}
  {{ range .Storage }}
    <div>
      <i class="nf nf-md-harddisk"></i>
      <div class="free-space">{{ .Free_space }} free</div>
      <div class="mount-point">{{ .Mount_point }}</div>
    </div>
  {{ end }}
{{ end }}
