<div class="item">
  <div class="details" style="width: calc(100% - 5px);">
    <i class="status offline nf nf-oct-dot_fill" style="color:red" title="{{ .error }}"></i>
    <div class="title">{{ .header }}</div>
    <div class="url">{{ .error }}</div>
  </div>
</div>
