<div id="item_{{ .Id }}" class="item" hx-get="/item/{{ .Id }}" hx-trigger="click" hx-target="body" hx-swap="beforeend">
  <div class="iconDiv">
    <img class="icon" src="/data/icons/{{ .Icon }}" />
  </div>
  <div class="details">
    <div class="title">{{ .Title }}</div>
    <div class="url-and-shortcut">
      <div class="url">{{ .Url }}</div>
      <div class="shortcut">[{{ .Shortcut }}]</div>
    </div>
  </div>
</div>
