:root {
  --color-background: {{ .Color_background }};
  --color-foreground: {{ .Color_foreground }};
  --color-items: {{ .Color_items }};
  --color-borders: {{ .Color_borders }};
}

body {
  background-color: var(--color-background);
  {{ if .Background_image }}background-image: url(/data/backgrounds/{{ .Background_image }});{{ end }}
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-foreground);
  padding: 50px;
  text-shadow: 1px 1px 1px var(--color-background);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-items);
  border: 3px solid var(--color-borders);
  border-radius: 5px;
  padding: 10px;
  opacity: 0.9;
}
  header div:last-child {
    flex-shrink: 0;
  }

#icon {
  display: inline-block;
  max-width: 64px;
  max-height: 64px;
  margin-right: 20px;
  vertical-align: text-bottom;
}

#title {
  display: inline-block;
  margin: 0;
  font-size: 4em;
}

#configButton {
  vertical-align: -20px;
  margin: 0 10px;
}

#login,
#logout {
  vertical-align: -20px;
  color: var(--color-foreground);
  margin: 0 20px;
}


/*
* System Info
*/
#system-info {
  display: inline-block;
  margin-right: 20px;
}
  #system-info div {
    display: inline-block;
    vertical-align: top;
    text-align: center; 
    margin: 10px;
  }
  #system-info i {
    display: block;
    margin-bottom: 5px;
    font-size: xx-large;
  }
  #system-info div.mount-point,
  #system-info div.free-space {
    display: block;
    margin: 0;
  }


/*
* Weather
*/
div.weather {
  display: inline-block;
  vertical-align: top;
  text-align: center;
} 
  div.weather img {
    margin-top: -30px;
  }
  div.weather div.location {
    margin-top: -20px;
  }


/*
* Lists and Items
*/
#lists {
  clear: both;
}

div.list {
  margin-bottom: 52px;
}
div.list h2 {
  font-size: xx-large;
}

div.list div.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 10px;
}

  div.item {
    display: inline-block;
    align-content: center;
    border: 3px solid var(--color-borders);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color-items);
    opacity: 0.9;
    cursor: pointer;
    overflow-x: hidden;
  }
  div.item a {
    color: var(--color-foreground);
    text-decoration: none;
  }
  
  i.status {
    float:right;
  }
    i.status.online {
      color: green;
    }
    i.status.offline {
      color: red;
    }

  div.item div.iconDiv {
    display: inline-block;
    width: 64px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
  }
  div.item img.icon {
    display: inline-block;
    vertical-align: middle;
    max-width: 64px;
    max-height: 64px;
  }

  div.item div.details {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: calc(100% - 90px);
    white-space: nowrap;
    overflow-x: hidden;
  }

  div.item div.title {
    font-size: xx-large;
  }

  div.item div.shortcut {
    float: right;
  }

  div.item div.url {
    width: calc(100% - 30px);
    overflow-x: hidden;
  }

div.addItem {
  margin-top: 26px;
}

#addList {
  margin-top: 26px;
}


/*
* Dialogs
*/
#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.8);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Display properties for visible dialog*/
	border:solid 1px var(--color-borders);
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color: var(--color-items);
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
}

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
}

  div.modal-content fieldset {
    margin-bottom: 22px;
  }
  div.modal-content div.dialog-column {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 300px;
  }
  div.modal-content div.dialog-field {
    margin-top: 10px;
  }
  div.modal-content div.dialog-field label {
    display: block;
  }
  div.modal-content div.dialog-field input {
    width: 97%;
  }
  div.modal-content div.dialog-field input[type="checkbox"],
  div.modal-content div.dialog-field input[type="radio"] {
    width: auto;
  }
  div.modal-content div.dialog-field select {
    width: 100%;
  }
  div.modal-content div.dialog-buttons {
    margin-top: 20px;
    text-align: right;
  }
  div.modal-content div.dialog-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
  }

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

