
body {
  background-color: #1e1e2e;
  background-size: cover;
  color: #cdd6f4;
  padding: 50px;
}

#icon {
  display: none;
  max-width: 64px;
  max-height: 64px;
  margin-right: 20px;
  vertical-align: text-bottom;
}
h1 {
  display: inline-block;
  margin: 0;
  font-size: 4em;
}
#config {
  margin-left: 20px;
  vertical-align: middle;
}

button {
  display: none;
}

a.login,
a.logout {
  float: right;
  color: white;
  margin-right: 10px;
}


/*
* Weather
*/
div.weather {
  float:right;
  text-align: center;
} 
  div.weather img {
    margin-top: -30px;
  }
  div.weather div.temp {
    margin-top: -20px;
  }


/*
* Lists and Items
*/
div.list h2 {
  font-size: xx-large;
}
  div.list h2 button {
    vertical-align: 5px;
  }

div.list div.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 10px;
}

  div.item {
    display: inline-block;
    align-content: center;
    border: 3px solid darkgrey;
    border-radius: 5px;
    padding: 5px;
    background-color: #585b70;
  }
  div.item a {
    color: #cdd6f4;
    text-decoration: none;
  }

  div.item button {
    float: right;
  }

  div.item img.icon {
    display: inline-block;
    vertical-align: middle;
    max-width: 64px;
    max-height: 64px;
    padding: 5px;
  }

  div.item div.details {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: calc(100% - 135px);
    max-width: calc(100vw / 4 - 135px);
    white-space: nowrap;
    overflow-x: hidden;
  }

  div.item div.title {
    font-size: xx-large;
  }

  div.item div.href {
    font-size: large;
  }

div.addItem {
  align-content: center;
}

#addList {
  margin-top: 26px;
}


/*
* Dialogs
*/
div.dialog {
  display: none;
}

  div.dialog div.dialog-field {
    margin-top: 10px;
  }
  div.dialog div.dialog-field label {
    display: block;
  }
  div.dialog div.dialog-field input {
    width: 100%;
  }

input:invalid {
  box-shadow: 0 0 5px 1px red;
}
