<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-content">
    <form hx-patch="/list/{{ .Id }}" hx-target="#list_{{ .Id }}" hx-swap="outerHTML" _="on submit trigger closeModal">
      <div class="dialog-field">
        <label for="listTitle">Title</label>
        <input id="listTitle" type="text" name="title" value="{{ .Title }}" required>
      </div>
      <div class="dialog-field">
        <label for="listCols">Number of Cols</label>
        <input id="listCols" type="number" min="1" name="number_of_cols" value="{{ .Number_of_cols }}" required>
      </div>
      <div class="dialog-buttons">
        <button type="button" hx-delete="/list/{{ .Id }}" hx-target="#modal" hx-swap="outerHTML">Delete</button>
        <button type="submit">Save</button>
        <button type="button" _="on click trigger closeModal">Cancel</button>
      </div>
    </form>
  </div>
</div>
